@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 3em 0;
  overflow-wrap: break-word;
}

.navbar {
  position: sticky;
  top : 0px;
  justify-content: center;
  display: flex;
  width: 100%;
  background-color: #040e3b;
  color: white;
  padding: 1em 8em;
}

.navbar ul {
  display: flex;
  align-self: center;
}
.navbar a {
  color: white;
}

.logotype {
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
}

.searchbar {
  display: flex;
  padding-bottom: 2em;
  padding-top: 3em;
}

.searchbox {
  font-family: 'Poppins', sans-serif;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 30em;
  padding: 0.75em 1em;
  border: none;
  background-color: #d8d8d8;
  color: rgb(31, 31, 31);
}

.searchbox :active{
  text-decoration: none;
}

::placeholder {
  color: #161616;
}

.searchbox:focus {
  outline: none;
}

.search-button {
  padding: .75em 1em .75em 1em;
  border: none;
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  background-color: #041045;
  color: white;
}

.movies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  max-width: min-content;
  margin: 1em 1em;
}

.movie img {
  border-radius: 10px;
}

.movie-detail-contents {
  display: flex;
  padding: 4em 8em;
}

.movie-detail-page {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.backdrop-cover {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: black;
  background-size: 100% 100%;
  opacity: 70%;
}

.movie-info {
  z-index: 2;
  max-width: max-content;
  padding: 0em 7em 0em 3em;
  color: white;
}

.movie-thumbnail {
  z-index: 2;
}

.movie-thumbnail img {
  border-radius: 10px;
}

.movie-release-date {
  font-weight: 200;
  font-size: 1.3em;
  margin-bottom: 1em;
}

.movie-overview {
  margin-bottom: 1em;
}

.movie-score {
  background-color: #1a1a1a;
  color:white;
  font-weight: bold;
  height: 55px;
  width: 55px;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
}

.user-score {
  font-weight: 700;
  font-size: 1em;
  margin-left: 1em;
}

.movie-rating {
  display: flex;
  align-items: center;
  margin-bottom: 1em;

}